/*
   New Perspectives on HTML and CSS
   Tutorial 4
   Review Assignment

   Cycle Pathology Style Sheet
   Author: Juozas Kripas
   Date:   2/18/2016

   Filename:         race.css
   Supporting Files:

*/
header, article, aside, figure, figcaption, hgroup, section, nav{
    display: block;
}

* {
    font-family: Verdana, Geneva, sans-serif;
    font-size: 100%;
    padding: 0px;
    margin: 0px;
}

nav a{
    text-decoration:none;
}

body{
    position: relative;
    width: 98%;
    min-width: 1000px;
    max-width: 1400px;
}
header{
    position: absolute;
    top: 0;
    left: 0;
    width: 20%;
    background-color: black;
    padding-bottom: 500px;
    
}
